@import url("https://fonts.googleapis.com/css?family=Share&display=swap");

body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  height: calc(100vh - 0px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.page {
  display: none;
  width: 100%;
  height: 100%;
}

.active {
  display: block;
  visibility: visible !important;
}

.card {
  background-color: #202023;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #202023;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

.card h2 {
  margin: 0 0 10px 0;
  font-size: 74px;
  color: #fff;
  position: relative;
}

.card h2 span {
  font-size: 20px;
  position: absolute;
  top: -10px;
  right: -55px;
  color: #ffae42;
}

.card p {
  margin: 10px 0 0;
  font-size: 32px;
  color: #ffae42;
}

.wide {
  grid-column: span 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.equal-height {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100% !important;
}

.tall {
  grid-row: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  height: 100%;
  width: 2px;
  background-color: #fff;
}

#fullscreen-btn {
  position: absolute;
  top: 24px;
  right: 30px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 32px;
}

#play-pause-btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(#ffae42 0% 0%, #333 0% 100%);
  transition: background 1s linear;
}

#play-pause-btn::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: #202023;
  border-radius: 50%;
}

#play-pause-btn i {
  position: relative;
  z-index: 1;
}

#prev-btn,
#next-btn {
  position: absolute;
  bottom: 30px;
  right: 70px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: conic-gradient(#ffae42 0% 0%, #333 0% 100%);
  margin-right: 5px;
  transition: color 0.3s ease;
}

#next-btn {
  right: 30px;
}

#prev-btn:hover,
#next-btn:hover {
  color: #ffae42;
}

#dashboard {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.progress-bar {
  width: 80%;
  height: 40px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
}

.progress {
  height: 100%;
  border-radius: 10px 0 0 10px;
  position: relative;
  z-index: 1;
}

.progress-text {
  position: absolute;
  top: 180px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffae42;
  font-size: 24px;
  z-index: 2;
  background-color: orange;
  border-radius: 5px;
  padding: 0 5px;
}

.split-flap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 50px 0;
}

.split-flap .digit {
  display: inline-block;
  text-align: center;
  color: #eee;
  background-color: #333;
  border: 1px solid #666;
  border-radius: 2px;
  margin-right: 1px;
  font-family: "Share", sans-serif;
  font-size: 150px;
  line-height: 1;
  width: 1.1ch;
}

.split-flap .digit[data-mode="alpha"] {
  width: 1.35ch;
}

.split-flap .digit[data-mode="words"] {
  width: 100%;
}

.split-flap .digit:last-child {
  margin-right: 0;
}

.hinge {
  height: 0.04em;
  background-color: #000;
}

.remaining-text {
  color: #fff;
  font-size: 32px;
}

.next-halving-text {
  color: #fff;
  font-size: 32px;
  margin-bottom: 0;
}

.date-time {
  font-size: 24px;
  color: #fff;
  margin-top: 0;
}

.estimated-text {
  color: #ffae42;
  font-size: 32px;
  margin-top: 10px;
}

.card .dynamic-date {
  color: #fff !important;
  font-size: 35px !important;
}

.price-container {
  display: flex;
  align-items: center;
  font-size: 60px;
  color: #fff;
}

.price-container-gold {
  display: flex;
  align-items: center;
  font-size: 50px;
  color: #fff;
}

.flashing-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 15px;
  animation: flash 1s infinite alternate;
}

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.price-change {
  margin-left: 15px;
  font-size: 40px;
}

.logo {
  position: absolute;
  top: 33px;
  left: 33px;
  width: 150px;
  height: auto;
}

/* Difficulty Adjustment Card Styles */
.difficulty-card {
  background-color: #202023;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #202023;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.difficulty-card h1 {
  color: #f39c12;
  font-size: 32px;
  margin: 0;
  text-align: center;
}

.difficulty-card .remaining-blocks {
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
}

.difficulty-card .adjustments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
  margin-bottom: -20px;
}

.difficulty-card .adjustments-left {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.difficulty-card .adjustment {
  display: flex;
  align-items: center;
  font-size: 18px;
  margin: 5px 0;
}

.difficulty-card .adjustment span {
  display: inline-block;
  margin-left: 5px;
}

.difficulty-card .arrow {
  margin-left: 5px;
  font-size: 18px !important;
}

.difficulty-card .progress {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.difficulty-card .progress-bar {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: conic-gradient(#f39c12 0% 0%, #444 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 50px;
}

.difficulty-card .progress-bar::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #202023;
  border-radius: 50%;
}

.difficulty-card .progress-bar span {
  position: absolute;
  font-size: 18px;
  color: #fff;
}

/* Halving Progress Circle Styles */
.halving-progress-circle {
  position: relative;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background: conic-gradient(#ffae42 0% 0%, #444 0% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  z-index: 999;
}

.halving-progress-circle::before {
  content: "";
  position: absolute;
  width: 700px;
  height: 700px;
  background-color: #202023;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
}

.halving-progress-circle .inner-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 70px;
}

.halving-progress-circle .progress-text {
  font-size: 40px;
  color: #ffffff;
  background-color: #f49c12;
  border-radius: 5px;
  padding: 10px 10px 10px 10px;
}

.halving-progress-circle .progress-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.marker {
  position: absolute;
  width: 2px;
  height: 80%;
  background-color: #fff;
}

.marker.vertical {
  height: 6.2%;
  width: 2px;
}

.marker.horizontal {
  width: 6.2%;
  height: 2px;
}

.marker.marker-0 {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.marker.marker-25 {
  top: 50%;
  left: 93.8%;
  transform: translateY(-50%);
}

.marker.marker-50 {
  top: 100%;
  left: 50%;
  transform: translate(-50%, -100%);
}

.marker.marker-75 {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .card h2 {
    font-size: 20px;
  }

  .card p {
    font-size: 10px;
    vertical-align: top;
  }

  .wide {
    flex-direction: column;
    align-items: flex-start;
  }

  .wide div {
    margin-bottom: 10px;
  }

  .divider {
    width: 2px;
    height: 100%;
    background-color: #fff;
    margin: 10px 10px;
  }

  #fullscreen-btn,
  #play-pause-btn,
  #prev-btn,
  #next-btn {
    font-size: 16px;
    width: 24px;
    height: 24px;
  }

  #play-pause-btn {
    bottom: 30px;
    left: 30px;
  }

  #prev-btn,
  #next-btn {
    bottom: 30px;
    right: 30px;
  }

  #prev-btn {
    right: 60px;
  }

  .progress-bar {
    width: 100%;
    height: 20px;
  }

  .progress-text {
    font-size: 12px;
  }

  .split-flap .digit {
    font-size: 70px;
  }

  .remaining-text,
  .date-time,
  .estimated-text {
    font-size: 16px;
  }

  .card .dynamic-date {
    font-size: 25px !important;
  }

  .price-container {
    font-size: 30px;
  }

  .price-change {
    font-size: 20px;
  }

  .logo {
    width: 100px;
  }

  .halving-progress-circle {
    width: 300px;
    height: 300px;
  }

  .halving-progress-circle::before {
    width: 200px;
    height: 200px;
  }
}

.displays {
  padding: 30px;
  border-radius: 30px;
}

.flapper {
  margin-bottom: 2px;
  text-align: center;
}

.inputarea {
  margin: 24px 0;
}

#typesomething,
#showme {
  font-family: Roboto Condensed;
  font-size: 18px;
  padding: 14px;
  background-color: #eee;
  color: #333;
  border: 0;
  height: 170px;
}

#typesomething {
  width: 300px;
}

#showme:hover {
  background-color: #ddd;
}

#showme:active {
  background-color: #ccc;
}

div.inline {
  display: inline-block;
  vertical-align: bottom;
}

div.activity {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  position: relative;
  top: 71px;
  left: -35px;
}

/* div.activity.active {
    background-color: #0f0;
} */

.flapper-flashing-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  position: absolute;
  top: -4px;
  left: -10px;
  animation: flash 1s infinite alternate;
}

#bitcoin-distribution-table {
  width: 100%;
  font-size: 1.2em;
  border-collapse: collapse;
  border-radius: 15px;
  overflow: hidden;
}

#bitcoin-distribution-table th,
#bitcoin-distribution-table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #686868;
}

#bitcoin-distribution-table th {
  background-color: #333;
  color: #fff;
}

#bitcoin-distribution-table td {
  background-color: #444;
  color: #3d3d3d;
}

.wallet-type-container {
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: flex-start; /* Align items to the left */
}

.wallet-icon {
  font-size: 1.9em; /* Adjust the size as needed */
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background-color: #ffae42; /* Circle color */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Space between icon and text */
  line-height: 1; /* Ensure the icons are centered */
  border: 1.2px solid white;
}

.wallet-type {
  color: #3d3d3d; /* Specific color for wallet type */
  font-weight: bold; /* Bold font */
  text-transform: uppercase; /* Convert text to uppercase */
  line-height: 1; /* Adjust line-height if needed */
}

.header-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  z-index: 999;
}

.live-button,
.date-time {
  margin-top: 25px;
  margin-right: 75px;
  font-size: 19px;
  color: white;
  display: flex;
  align-items: center;
}

.live-button {
  border: 1.2px solid white;
  padding: 5px 10px;
  border-radius: 6px;
  margin-right: 14px;
}

.live-dot {
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
  margin-right: 5px;
  animation: blink 2s infinite;
}

@keyframes blink {
  0%,
  50%,
  100% {
    background-color: green;
  }
  25%,
  75% {
    background-color: transparent;
  }
}

#map-container {
  width: 100%; /* Adjust width to make the map smaller */
  height: 80%; /* Adjust height to make the map smaller */
  padding: 0; /* Remove padding */
  box-sizing: border-box;
  position: absolute; /* Absolute positioning */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust positioning */
  margin: 0; /* Remove margin */
  overflow: hidden; /* Prevent overflow */
  /* Initially hide the map container */
}

#map {
  height: 100%; /* Full height */
  width: 100%; /* Full width */
  position: relative;
  margin-top: 22px;
  max-height: 720px;
}

.leaflet-container {
  background: none !important; /* Ensure the map container is transparent */
}

.leaflet-control-attribution {
  display: none; /* Hide the Leaflet copyright */
}

#reachable-nodes {
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 5px;
  color: #ffae42;
  font-size: 20px;
  text-align: center;
  z-index: 9999;
}

/* wallet-distribution-text.css */
.wallet-distribution-text {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* bitcoin-distribution-table.css */
#bitcoin-distribution-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

#bitcoin-distribution-table th, 
#bitcoin-distribution-table td {
    padding: 12px;
    border: 0px solid #ddd;
}

#bitcoin-distribution-table th {
    background-color: #7e7d7d;
    font-weight: bold;
}

#bitcoin-distribution-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#bitcoin-distribution-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* CSS for different wallet types */
.wallet-100k {
  background-color: #ff9999 !important;
}

.wallet-humpback {
  background-color: #ffcc99 !important;
}

.wallet-whale {
  background-color: #ffff99 !important;
}

.wallet-shark {
  background-color: #ccff99 !important;
}

.wallet-fish {
  background-color: #99ff99 !important;
}

.wallet-crab {
  background-color: #99ffcc !important;
}

.wallet-shrimp {
  background-color: #99ccff !important;
}

.wallet-other {
  background-color: #cc99ff !important;
}

#bitcoin-distribution-table tbody tr.wallet-100k td,
#bitcoin-distribution-table tbody tr.wallet-humpback td,
#bitcoin-distribution-table tbody tr.wallet-whale td,
#bitcoin-distribution-table tbody tr.wallet-shark td,
#bitcoin-distribution-table tbody tr.wallet-fish td,
#bitcoin-distribution-table tbody tr.wallet-crab td,
#bitcoin-distribution-table tbody tr.wallet-shrimp td,
#bitcoin-distribution-table tbody tr.wallet-other td {
  background-color: inherit;
}

.left-align {
  display: flex;
  align-items: center;
}

.adjustment-next .left-align,
.adjustment-prev .left-align {
  display: flex;
  align-items: center;
}

.adjustments-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Adjust font sizes for smaller screens on page 1 */
@media (max-width: 1366px) {
  #page1 .card h2 {
    font-size: 40px;
  }
  
  #page1 .card p {
    font-size: 16px;
  }

  #page1 .difficulty-card .adjustment span {
    font-size: 16px;
  }

  #page1 .difficulty-card .progress-bar span {
    font-size: 16px;
  }

  #page1 .difficulty-card .remaining-blocks {
    font-size: 14px;
  }

  #page1 .difficulty-card h1 {
    font-size: 24px;
  }

  .difficulty-card .adjustments-left {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }
  
  .progress-bar {
    margin: 0px 0;
  }
}

.satsusd-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start !important; /* Align items to the left */
  margin-top: 20px;
  max-width: 1250px; /* Adjusted to accommodate the margin */
  margin-left: auto;
  margin-right: auto;
  justify-content: center; /* Center the container on the page */
}

.satsusd-large-square {
  width: 180px; /* Updated width */
  height: 180px; /* Updated height */
  display: grid;
  grid-template-columns: repeat(10, 18px); /* Updated size */
  grid-template-rows: repeat(10, 18px); /* Updated size */
  gap: 1px;
  border: 0px solid #ccc;
  margin: 12px; /* Reduced margin for more room */
  box-sizing: border-box;
}

.satsusd-small-square {
  width: 18px; /* Updated size */
  height: 18px; /* Updated size */
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.satsusd-price-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 20px;
  text-align: center;
}

.satsusd-price-container .satsusd-flashing-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  margin-right: 10px;
}

#satsusd-value-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#satsusd-value {
  font-size: 60px;
  margin-right: 10px;
}

.satsusd-price-change {
  font-size: 40px;
}

.satsusd-flashing-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 15px;
  animation: flash 1s infinite alternate;
}

